.config_usuario{
	margin-left: 300px;
}

.boton_cambiar-pass{
	background: transparent;
	border: 0px;
	color: rgb(255 255 255 / 67%);
	padding-top: 5px;

}

.configuracion {
	width: 50%;
	margin-left: 200px;
	margin-top: 50px;
}

.formulario__grupo-input{
	margin-bottom: 5px;
}

.btn__verificar {
	float: right;
	height: 35px;
	margin-top: 15px;
	width: 20%;
	background-image: linear-gradient(#09b767,#09482c);
	color: white;
	border: none;
	font-weight: bold;
	border-radius: 7px;
	cursor: pointer;
	transition: .1s ease all;
}
